global
  log /dev/log local0
  log /dev/log local1 notice
  daemon

defaults
  mode tcp
  timeout connect 10s
  timeout client  1m
  timeout server  1m

frontend k8s_api
  bind *:6443
  default_backend k8s_masters

backend k8s_masters
  option tcp-check
%{ for ip in server_ips ~}
  server server-${index(server_ips, ip) + 1} ${ip}:6443 check
%{ endfor ~}
